body {
    height: 100vh;
}
a{
    color: #000;
}

.ft-A {
    font-family: "fontA";
}

.ft-B {
    font-family: "fontB";
}

.nav-bar {
    position: fixed;
    z-index: 999 !important;
}

// ~~ modal


// ~~ section1
.first-section {
    background-color: rgba(199, 199, 190, 0.202);

    .first-section-part1 {}

    img {
        height: 100%;
        padding-bottom: 8%;
    }
}

.first-section-btns {
    top: 60%;
    left: 4%;

    button {
        width: 10vw;
        height: 45px;
    }
}

// ~~ section2
.second-section {
    height: 80vh;

    .second-section-part2 {
        height: 100%;
        width: 100%;
        // background: #000;
    }

    .second-section-img {
        width: 45%;
        background: #000;
        background-image: url(../../../../public/images/about.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        div {
            margin-bottom: 10%;
            padding: 2%;
        }
    }

    .second-section-text {
        width: 45%;
        height: 100%;

        // background: #000;
        .second-section-text-part1 {
            height: 50%;
        }

        .second-section-text-part2 {
            height: 50%;
            width: 100%;
            background-image: url(../../../../public/images/about-2.jpg);
            background-repeat: no-repeat;
            background-size: cover;

            button {
                background-color: rgb(211, 21, 59);
                border-radius: 50%;
                height: 25%;
                width: 11%;
            }
        }
    }
}

// ~~ section3
.third-section {
    background: rgba(199, 199, 190, 0.202);
    margin-top: 10%;

    .third-section-box1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(211, 21, 59);
        width: 25%;
        height: 80%;
    }

    .third-section-box2 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        background-color: rgb(255, 255, 255);
        width: 25%;
        padding: 2%;

        &:hover {
            transform: scale(1.05);
            transition: 0.5s;
        }
    }
}

.menu-btn {
    &:hover {
        cursor: pointer;
        color: rgb(211, 21, 59) !important;
    }

    &:focus {
        color: rgb(211, 21, 59) !important;
    }
}



// ~~section4
.sec4-menu-pics {
    height: 37vh;
    width: 18vw;
}

.menu-pic1 {
    background-image: url(../../../../public/images/menu/menu-item-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 18rem;
    padding: 20vh;
}

.menu-pic2 {
    background-image: url(../../../../public/images/menu/menu-item-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-pic3 {
    background-image: url(../../../../public/images/menu/menu-item-3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-pic4 {
    background-image: url(../../../../public/images/menu/menu-item-4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-pic5 {
    background-image: url(../../../../public/images/menu/menu-item-5.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-pic6 {
    background-image: url(../../../../public/images/menu/menu-item-6.png);
    background-repeat: no-repeat;
    background-size: cover;
}

// ~~ section5
.fifth-section {
    background: rgba(199, 199, 190, 0.202);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: fit-content;
    padding-bottom: 5%;

    .carousel {
        width: 75vw !important;
    }

    .review-pic1 {
        border: #fff solid 8px;
        border-radius: 50%;
        background-image: url(../../../../public/images/testimonials/testimonials-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        width: 250px;
    }

    .review-pic2 {
        border: #fff solid 8px;
        border-radius: 50%;
        background-image: url(../../../../public/images/testimonials/testimonials-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        width: 250px;
    }

    .review-pic3 {
        border: #fff solid 8px;
        border-radius: 50%;
        background-image: url(../../../../public/images/testimonials/testimonials-3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        width: 250px;
    }

    .review-pic4 {
        border: #fff solid 8px;
        border-radius: 50%;
        background-image: url(../../../../public/images/testimonials/testimonials-4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        width: 250px;
    }

    .rotated {
        transform: scaleX(-1) !important;
    }

    .vertical-line {
        position: relative;
    }

    .vertical-line::before {
        content: '';
        position: absolute;
        top: 0;
        left: -5%;
        transform: translateX(-50%);
        width: 4px;
        /* Adjust the width of the line as needed */
        height: 100%;
        background-color: red;
    }
}

.carousel-item {
    // height: 50vh;
    // width: 75vw;
    padding: 10%;
}

.carousel-indicators {
    margin: -1%;

    button {
        background-color: rgb(211, 21, 59) !important;
        border-radius: 50% !important;
        height: 10px !important;
        width: 10px !important;
    }
}

// ~~ section6

.carousel2 {}

.carousel2-inner {
    display: flex;
    justify-content: center;
    gap: 5vw;
}


.carousel2-imgs {
    width: 100%;
    height: 100%;
}

.carousel2-img1 {
    background-image: url(../../../../public/images/events-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 23vw;

    div {
        padding: 5%;
    }
}

.carousel2-img2 {
    background-image: url(../../../../public/images/events-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 23vw;

    div {
        padding: 5%;
    }
}

.carousel2-img3 {
    background-image: url(../../../../public/images/events-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 23vw;

    div {
        padding: 5%;
    }
}




// ~~ section7
.seventh-section {
    background-color: rgba(199, 199, 190, 0.202);
    height: fit-content;
    padding-bottom: 4%;

    .sec7-cards {
        padding-inline: 5%;
        gap: 2vw;
        display: flex;
        flex-wrap: wrap;

        .card {
            width: 100%;

            .card-hov {
                top: 20px;
                right: 0px;
                z-index: 1;
                opacity: 0;
                background: #00000027;
                padding: 8px;
                border-radius: 5px;
            }

            &:hover {
                transform: scale(1.05);
                transition: 0.5s;

                .card-hov {
                    right: 20px;
                    transition: 0.5s;
                    opacity: 100%;
                }
            }

            .sec7-img-border {
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    top: 80%;
                    left: 0%;
                    background-image: url(../../../../public/images/team-shape.svg);
                    background-repeat: no-repeat;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.099);
                    width: 100%;
                    height: 23%;
                }
            }
        }
    }
}

// ~~ section8
.eighth-section {
    height: fit-content;

    .sec8-img {
        background-image: url(../../../../public/images/reservation.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 57vh;
        width: 25%;
    }

    .sec8-part2 {
        padding: 3% !important;
    }

    .sec8-form {
        width: 75%;
        height: 100%;
        background: rgba(199, 199, 190, 0.202);

        .form-msg {
            input {
                padding-bottom: 12%;
            }
        }
    }
}

// ~~ section9
.ninth-section {
    height: fit-content;
    background: rgba(199, 199, 190, 0.202);
}

// ~~ section10

.section10 {
    height: 100vh;

    .sec10-cards {

        // background: #000;
        .sec10-card {
            background: rgba(199, 199, 190, 0.202);
            width: 42%;
            padding-left: 2%;
            padding-top: 1%;

            .sec10-icon {
                display: flex;
                justify-content: center;
                background: rgb(211, 21, 59);
                border-radius: 50%;
                height: 50px;
                width: 50px;
            }
        }
    }

}

.contact-us-Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    width: 80%;
    background: #fcfcfc;
    box-shadow: 2px 5px 70px rgba(0, 0, 0, 20%);
    padding: 2vw;

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1vw;

        div {
            display: flex;
            gap: 1vw;

            input {
                width: 50%;
                border: rgba(0, 0, 0, 0.189) solid 2px;
            }
        }

        input {
            width: 100%;
            padding: 1vh;
            border: rgba(0, 0, 0, 0.189) solid 2px;
        }

        textarea {
            border: rgba(0, 0, 0, 0.189) solid 2px;
        }
    }
}

// ~~ section11





// ~~ section4bg
.sec4-bg-img {
    background-image: url(../../../../public/images/stats-bg.jpg);
    background-attachment: fixed;
    height: 40vh;

    .stats {
        position: relative;
        z-index: 1;
        color: #fff !important;

        &::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.6); // Adjust the opacity here
            z-index: -999 !important;
        }
    }
}

// 

.wrapper {
    max-width: 1100px;
    width: 100vw;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel4 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel4::-webkit-scrollbar {
    display: none;
}

.carousel4.no-transition {
    scroll-behavior: auto;
}

.carousel4.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel4.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel4 :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel4 .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel4 .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel4 .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel4 .card span {
    color: #6A6D78;
    font-size: 1.31rem;
}


@media screen and (max-width: 900px) {
    .wrapper .carousel4 {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel4 {
        grid-auto-columns: 100%;
    }
}





footer {
    background-color: #252424;
    color: #fff;
    padding-top: 3rem;

    .allInfo {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .first {
            display: flex;
            flex-direction: column;
            padding-bottom: 2rem;

            .text {
                display: flex;
                align-items: center;

                img {
                    padding-right: 1rem;
                }
            }

            p {
                width: 12vw;
                font-size: large;
            }
        }

        .second {
            margin-bottom: 5%;

            h3 {
                margin-bottom: 2rem;
            }
        }
    }

    .CopyRight {
        text-align: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-top: 2px solid #878282;

        p {
            font-size: small;
        }
    }
}

.second-section-text-part2 {
    position: relative;
    .pulseB {
        display: flex;
        justify-content: center;
        color: #fff;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background: linear-gradient(30deg, red 20%, rgb(255, 38, 0) 80%);
        transition: all 0.3s ease-in-out 0s;
        box-shadow: red 0px 0px 0px 0px;
        animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
        align-items: center;
        border: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        &:is(:hover, :focus) svg {
            transform: scale(1.5);
        }
    
        @keyframes pulse {
            100% {
                box-shadow: 0 0 0 45px rgba(193, 244, 246, 0);
            }
        }
    }
}



@media (max-width: 430px) {
    .navigation {
        position: fixed !important;
        top: 9% !important;
        right: -110vw !important;
        width: 100vw !important;
        height: 100vh !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        transition: ease-in 0.4s !important;
        z-index: 999;
        background: #fff;
        padding-left: 10%;
        justify-content: space-between;
        gap: 10vh;
        align-items: center;
    }

    .wrapper {
        i {
            display: none;
        }
    }


    .show-nav {
        right: -10vw !important;
    }

    .nav-btn {
        width: 100%;
        margin-right: 10%;
    }

    .modal-btn {
        width: 33vw !important;
    }



    .first-section {
        display: flex;
        flex-direction: column-reverse;
        height: fit-content !important;
        background: rgba(199, 199, 190, 0.202);
        padding: 5%;
        align-items: center;
        justify-content: center;
        padding-bottom: 20%;
    }

    .first-section-part1 {
        width: 100vw !important;

        div {
            display: flex !important;
            flex-direction: column;
            text-align: center;
            align-items: center !important;
            justify-content: center !important;
        }


    }

    .first-section-btns {
        display: flex !important;
        flex-direction: row;
        top: 115% !important;
        left: 15%;

        button {
            width: 40vw !important;
        }
    }

    .first-section-part2 {
        display: flex;
        align-items: center;

        img {
            width: 100vw;
            height: 90%;
            margin-top: 5%;
        }
    }

    .second-section {
        height: fit-content;
        padding-top: 8%;
    }

    .second-section-part2 {
        height: fit-content !important;

        &>* {
            width: 100vw !important;
        }

        .second-section-img {
            height: 100vh;
        }

        .second-section-text-part2 {
            height: 50vh !important;

            button {
                height: 70px !important;
                width: 70px !important;
            }
        }
    }

    .third-section {
        height: fit-content !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10vh;

        &>* {
            display: flex;
            width: 90vw !important;
            height: 60vh !important;
            padding: 5%;
            justify-content: center;
        }

        .third-section-box1 {
            display: flex;
            align-items: start;

            div {
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
                width: 100%;
                margin-left: 5%;

                button {
                    width: 200px;
                }
            }
        }
    }

    .sec4-bg-img {
        height: 100vh !important;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column;
        position: relative;
        width: 100vw !important;

        &::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.6); // Adjust the opacity here
            z-index: -1;
        }

        .stats {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-around !important;
            align-items: center !important;
            flex-direction: column;
            font-size: 150%;

            h1 {
                font-size: 150% !important;
            }
        }
    }

    .menu-box {
        width: 70vw;
        display: flex;
        justify-content: center;
    }

    .sec4-menu-pics {
        display: flex;
        align-items: center;
        justify-content: center;
        width: inherit;
        padding: 22vh;
    }

    .review-pic1 {
        height: 20vh;
    }


    .fifth-section {
        padding: 10%;
        width: fit-content;

        .sec5-part1 {
            width: 100% !important;

            .vertical-line {
                width: 100% !important;
            }
        }

        p {
            width: 110% !important;
        }
    }

    .eighth-section {
        .sec8-img {
            width: 100%;
            height: 69vh;
        }

        .sec8-form {
            width: 100%;

            form {
                width: 100%;

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .col {
                    display: flex;
                    flex-direction: column;
                    width: 90% !important;
                }

                .form-msg {
                    input {
                        padding-bottom: 20vh;
                    }
                }

                button {
                    width: 50% !important;
                }
            }
        }
    }

    .section10 {
        height: fit-content;

        .sec10-card {
            width: 90vw !important;

            .sec10-icon {
                margin-top: 5% !important;
                background: #000;
            }
        }

        iframe {
            width: 90vw !important;
            height: 50vh !important;
            padding-bottom: 5%;
        }
    }

    .sec10-form {
        width: 100% !important;
        display: flex;
        justify-content: center;

        .contact-us-Form {
            width: 90%;

            form {
                div {
                    input {
                        width: 100%;
                    }
                }
            }

            button {
                width: 50% !important;
            }
        }
    }

    .sec6 {
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    .carousel2-imgs {
        width: 95vw;
    }

    footer {
        background-color: #252424;
        color: #fff;
        padding-top: 3rem;
        width: 100vw;

        .allInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 2rem;

            .first {
                display: flex;
                flex-direction: column;
                padding-bottom: 2rem;
                text-align: start;

                .text {
                    display: flex;
                    align-items: center;

                    img {
                        padding-right: 1rem;
                    }
                }

                p {
                    width: 50vw;
                    font-size: large;
                }
            }

            .second {
                h3 {
                    margin-bottom: 0.8rem;
                }

                .icon {
                    margin-bottom: 1rem;

                    img {
                        width: 2rem !important;
                    }
                }
            }

            .CopyRight {
                text-align: center;
                display: flex;
                flex-direction: column;
                text-align: center;
                border-top: 2px solid #878282;

                .designed {
                    span {
                        font-size: small !important;
                    }
                }

                img {
                    width: 3rem;
                }

                p {
                    font-size: small;
                }
            }
        }
    }
}