body{
    height: 100vh;
}
// ~~ section1
.first-section{
    background-color: rgba(199, 199, 190, 0.202);
    .first-section-part1{

    }
    img{
        height: 100%;
        padding-bottom: 8%;
    }
}

// ~~ section2
.second-section{
    height: 80vh;
    .second-section-part2{
        height: 100%;
        width: 100%;
        // background: #000;
    }
    .second-section-img{
        width: 45%;
        background: #000;
        background-image: url(../../../../public/images/about.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        div{
            margin-bottom: 10%;
            padding: 2%;
        }
    }
    .second-section-text{
        width: 45%;
        height: 100%;
        // background: #000;
        .second-section-text-part1{
            height: 50%;
        }
        .second-section-text-part2{
            height: 50%;
            width: 100%;
            background-image: url(../../../../public/images/about-2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            button{
                background-color: rgb(211, 21, 59);
                border-radius: 50%;
                height: 25%;
                width: 11%;
            }
        }
    }
}

// ~~ section3
.third-section{
    background: rgba(199, 199, 190, 0.202);
    margin-top: 10%;
    .third-section-box1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(211, 21, 59);
        width: 25%;
        height: 80%;
    }
    .third-section-box2{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        background-color: rgb(255, 255, 255);
        width: 25%;
        height: 70%;
    }
}
.menu-btn{
    &:hover{
        cursor: pointer;
        color: rgb(211, 21, 59)!important;
    }
    &:focus{
        color: rgb(211, 21, 59) !important;
    }
}

@media (max-width: 430px) {
    .navigation{
        position: fixed !important;
        top: 13vh !important;
        right: -50vw !important;
        width: 100vw !important;
        height: 100vh !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center!important;
        transition: ease-in 0.4s !important;
        z-index: 999;
        background: #fff;
    }
    .show-nav{
        right: -110vw !important;
    }
}
// ~~section4
.sec4-menu-pics{
    height: 35vh;
    width: 17vw;
}
.menu-pic1{
    background-image: url(../../../../public/images/menu/menu-item-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-pic2{
    background-image: url(../../../../public/images/menu/menu-item-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-pic3{
    background-image: url(../../../../public/images/menu/menu-item-3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-pic4{
    background-image: url(../../../../public/images/menu/menu-item-4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-pic5{
    background-image: url(../../../../public/images/menu/menu-item-5.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-pic6{
    background-image: url(../../../../public/images/menu/menu-item-6.png);
    background-repeat: no-repeat;
    background-size: cover;
}
